.name {
  color: darkgreen;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.year {
  color: darkblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.sells {
  color: darkred;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.protagonist {
  color: darkgoldenrod;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
